In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy,edge_process
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
Dataset='/Fire/'
Home_os='C:/Users/jingy/Jupyter/Crime/Fire/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\edge_process.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=5
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=22:
            cdi,frame=My_CDI.CDI(start)
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
print(len(Intensity_list))

intensity_dict={'intensity':Intensity_list}
df=pd.DataFrame(intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

126

                                             intensity
0    [1621545, 1546575, 1521075, 1414485, 1340535, ...
1    [1975230, 1797750, 1659540, 2023935, 2126700, ...
2    [6316350, 6275550, 6363015, 6690690, 7725480, ...
3    [3141600, 3901500, 3210705, 3222690, 3863760, ...
4    [4841940, 3912975, 5929005, 5985105, 5173185, ...
..                                                 ...
121  [5326440, 5058435, 4941135, 5018655, 5247900, ...
122  [911625, 856035, 955230, 870825, 992970, 17505...
123  [6167685, 5623005, 6235005, 9212130, 7273875, ...
124  [2195040, 2811375, 2207535, 2105025, 2385015, ...
125  [837675, 294780, 168045, 528870, 599505, 12505...

[126 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [4]:
p_video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in p_video:
    start=5
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=22:
            cdi,frame=My_CDI.CDI(start)
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [5]:
print(len(P_Intensity_list))
P_intensity_dict={'intensity':P_Intensity_list}
df=pd.DataFrame(P_intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

142

                                             intensity
0    [2007360, 2183055, 1929585, 1774800, 1442790, ...
1    [3803325, 3692145, 3502680, 3262215, 3018435, ...
2    [5417985, 6004995, 9319740, 9073920, 10862235,...
3    [7057125, 6533100, 6783255, 6655755, 6402030, ...
4    [7308555, 5737755, 5602605, 5138505, 4072095, ...
..                                                 ...
137  [6721035, 6095775, 6025905, 7272345, 7419480, ...
138  [5783910, 4994685, 4547670, 2305965, 1946925, ...
139  [8029440, 6882195, 6803400, 7424325, 6436710, ...
140  [10389720, 10295370, 12165540, 12346080, 11043...
141  [4892430, 4498965, 5455980, 4582350, 4822560, ...

[142 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [10]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [7]:
x = [0] * len(video)
y =[1]*len(p_video)
z=x+y

In [11]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    1621545 1546575 1521075 1414485 1340535 242836...      0
1    1975230 1797750 1659540 2023935 2126700 306867...      0
2    6316350 6275550 6363015 6690690 7725480 842953...      0
3    3141600 3901500 3210705 3222690 3863760 409657...      0
4    4841940 3912975 5929005 5985105 5173185 792871...      0
..                                                 ...    ...
263  6721035 6095775 6025905 7272345 7419480 781192...      1
264  5783910 4994685 4547670 2305965 1946925 333310...      1
265  8029440 6882195 6803400 7424325 6436710 608277...      1
266  10389720 10295370 12165540 12346080 11043285 1...      1
267  4892430 4498965 5455980 4582350 4822560 636480...      1

[268 rows x 2 columns]

In [12]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/20/CDI_Based/Intensity/CSV'+Dataset+'Gray.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,Class
0,1621545,1546575,1521075,1414485,1340535,2428365,3282615,1753890,1474665,1613640,1618995,1520055,1526940,1806165,2296275,2399040,2520675,3783435,0
1,1975230,1797750,1659540,2023935,2126700,3068670,3212745,1836000,1603185,1379550,1087065,1521330,2377110,2522460,3114570,2673165,2105790,3049035,0
2,6316350,6275550,6363015,6690690,7725480,8429535,8470080,7925910,8466000,7427385,6763110,7186155,7296060,7093335,7129290,7490370,8164590,8340285,0
3,3141600,3901500,3210705,3222690,3863760,4096575,2364105,2300355,3843615,882045,176970,78285,44880,11985,11985,11985,11985,10200,0
4,4841940,3912975,5929005,5985105,5173185,7928715,5820630,4497180,4611165,6058035,6887040,5910900,7567635,9229980,7589565,6146010,6505560,8803365,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,6721035,6095775,6025905,7272345,7419480,7811925,7406730,6812070,7416420,5831340,5216790,5349135,5149470,5061750,5236170,4870245,4476780,4478820,1
264,5783910,4994685,4547670,2305965,1946925,3333105,5116575,5367240,6067470,5028090,5026815,6545595,6031005,6015960,5747190,4852905,4218975,4089180,1
265,8029440,6882195,6803400,7424325,6436710,6082770,4472955,3537105,4734075,5915490,5827005,6157485,6477000,4420680,4137120,2947035,1698045,2243490,1
266,10389720,10295370,12165540,12346080,11043285,11087655,12449355,12463380,12154575,12093375,12224445,11977860,11506110,11551755,12671715,11743770,11716230,11226375,1
267,4892430,4498965,5455980,4582350,4822560,6364800,4733310,3234675,2946780,3604425,3323160,2837640,3513135,4361265,4112895,3752580,3924195,5406000,1