In [4]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy,edge_process
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
datasets=['Explosion','Road_Accident','Fighting','Robbery','Burglary']
for data_name in datasets:
    
    Home_os='D:/new/'+data_name+'/'
    negative_os=Home_os+'negative/'
    positive_os=Home_os+'positive/'
    
    video=os.listdir(negative_os)

    Euler_list=[]
    for i in video:
        start=0
        video_name=negative_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=27:
                cdi,frame=My_CDI.CDI(start)

                euler=edge_process.Edges_lib.Euler_Num(cdi)
                in_list.append(euler)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        Euler_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    
    video=os.listdir(positive_os)

    P_Euler_list=[]
    for i in video:
        start=0
        video_name=positive_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=27:
                cdi,frame=My_CDI.CDI(start)

                euler=edge_process.Edges_lib.Euler_Num(cdi)
                in_list.append(euler)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        P_Euler_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    

    Combine_Euler=Euler_list+P_Euler_list
    # min_max_scaler =MinMaxScaler()
    # for i in range(len(Combine_Euler)):
    #     Combine_Euler[i] = ((min_max_scaler.fit_transform(np.array(Combine_Euler[i]).reshape(-1,1)))).reshape(-1).tolist()
    new_list=[]
    for i in Combine_Euler:
            str1 = ' '.join([str(x) for x in i])
            new_list.append(str1)

    print(len(new_list))
    x = [0] * len(Euler_list)
    y =[1]*len(P_Euler_list)
    z=x+y
    combine_dict={'intensity':new_list,'label':z}
    df=pd.DataFrame(combine_dict)

    display(df)
    y=df['label'].values

    data_df = df['intensity'].str.split(' ', expand=True)

    data_df['Class'] =y
    data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/CDI/Intensity/CSV/'+data_name+'/Euler.csv')
    display(data_df)

268

                                             intensity  label
0    41 41 58 75 79 88 84 73 72 64 65 39 79 67 65 7...      0
1    30 71 63 58 65 66 74 59 68 63 51 31 75 64 58 4...      0
2    4 7 12 7 3 8 7 9 8 1 2 2 1 2 3 7 6 5 3 7 4 3 1...      0
3    32 27 16 11 22 15 13 26 29 17 18 12 12 12 41 8...      0
4    42 74 51 38 50 58 53 39 30 54 7 46 49 53 37 29...      0
..                                                 ...    ...
263  2 11 8 1 9 12 7 8 7 4 2 1 3 1 4 6 7 5 7 10 10 ...      1
264  7 20 6 5 2 1 7 7 14 19 14 6 6 1 4 9 1 3 2 3 2 ...      1
265  7 3 4 3 1 1 1 2 1 6 2 9 20 19 6 8 7 4 14 27 48...      1
266  1 2 1 1 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...      1
267  32 20 12 6 10 14 15 8 10 15 3 10 7 14 13 17 19...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,41,41,58,75,79,88,84,73,72,64,...,83,84,73,23,46,63,64,58,71,0
1,30,71,63,58,65,66,74,59,68,63,...,39,64,69,51,26,72,72,72,61,0
2,4,7,12,7,3,8,7,9,8,1,...,7,4,3,1,3,3,11,3,1,0
3,32,27,16,11,22,15,13,26,29,17,...,0,0,0,0,11,6,1,1,1,0
4,42,74,51,38,50,58,53,39,30,54,...,12,29,23,4,42,38,27,67,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2,11,8,1,9,12,7,8,7,4,...,10,10,7,8,8,6,7,9,6,1
264,7,20,6,5,2,1,7,7,14,19,...,3,2,5,4,2,3,3,8,14,1
265,7,3,4,3,1,1,1,2,1,6,...,27,48,18,26,5,10,3,3,6,1
266,1,2,1,1,1,2,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
267,32,20,12,6,10,14,15,8,10,15,...,20,13,11,16,12,15,15,17,6,1

311

                                             intensity  label
0    7 5 6 6 4 2 3 5 4 12 32 17 11 6 3 4 1 3 20 3 0...      0
1    17 31 37 26 24 29 9 10 16 8 10 5 4 7 6 3 4 4 4...      0
2    8 5 1 4 29 3 2 3 2 1 3 10 4 1 1 2 3 2 1 0 1 0 ...      0
3    31 51 54 64 75 17 25 4 8 82 76 5 5 68 81 28 36...      0
4    47 46 22 12 17 20 24 52 53 38 61 37 19 12 16 2...      0
..                                                 ...    ...
306  31 27 22 32 27 14 14 17 32 34 26 28 27 13 16 1...      1
307  40 19 17 10 19 32 21 33 48 39 65 27 19 20 20 1...      1
308  37 15 11 23 37 28 40 7 10 43 57 39 25 27 6 21 ...      1
309  9 30 22 9 28 10 9 20 19 4 5 7 5 28 22 7 28 13 ...      1
310  55 62 36 34 44 36 48 57 55 23 45 72 38 18 10 2...      1

[311 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,7,5,6,6,4,2,3,5,4,12,...,3,0,1,61,29,10,7,8,7,0
1,17,31,37,26,24,29,9,10,16,8,...,5,5,6,11,5,4,7,3,4,0
2,8,5,1,4,29,3,2,3,2,1,...,0,1,0,1,7,5,1,2,1,0
3,31,51,54,64,75,17,25,4,8,82,...,57,20,8,9,8,2,65,74,45,0
4,47,46,22,12,17,20,24,52,53,38,...,12,12,11,16,60,28,20,15,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,31,27,22,32,27,14,14,17,32,34,...,36,11,31,37,46,38,26,17,21,1
307,40,19,17,10,19,32,21,33,48,39,...,17,41,35,30,37,27,26,23,39,1
308,37,15,11,23,37,28,40,7,10,43,...,6,8,60,69,41,22,10,12,56,1
309,9,30,22,9,28,10,9,20,19,4,...,26,27,6,16,27,9,7,23,22,1
310,55,62,36,34,44,36,48,57,55,23,...,25,35,62,59,65,44,54,31,38,1

289

                                             intensity  label
0    34 18 58 17 2 0 2 2 0 0 0 24 11 2 3 2 2 2 2 44...      0
1    55 55 48 60 44 49 56 53 66 71 34 11 65 61 45 6...      0
2    13 5 7 5 4 34 23 9 9 7 10 16 4 8 10 27 14 14 1...      0
3    62 25 12 5 35 76 79 75 73 78 69 76 29 37 63 62...      0
4    47 44 84 82 24 15 37 52 10 14 18 83 15 29 45 2...      0
..                                                 ...    ...
284  15 7 14 14 8 9 7 8 14 7 3 11 13 15 8 12 8 6 10...      1
285  87 22 26 32 16 24 34 40 47 17 48 62 23 16 15 2...      1
286  11 15 12 3 12 15 10 21 17 15 5 12 28 7 5 9 8 9...      1
287  64 47 48 42 40 34 46 59 42 42 23 40 22 42 30 2...      1
288  44 44 42 54 45 34 40 42 41 48 36 29 32 31 35 5...      1

[289 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,34,18,58,17,2,0,2,2,0,0,...,44,65,42,70,62,49,47,62,47,0
1,55,55,48,60,44,49,56,53,66,71,...,55,54,49,35,33,95,70,66,83,0
2,13,5,7,5,4,34,23,9,9,7,...,12,11,20,21,24,13,9,9,15,0
3,62,25,12,5,35,76,79,75,73,78,...,53,42,34,77,77,31,27,41,66,0
4,47,44,84,82,24,15,37,52,10,14,...,17,66,46,60,71,51,26,14,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,15,7,14,14,8,9,7,8,14,7,...,8,37,28,36,5,6,6,9,19,1
285,87,22,26,32,16,24,34,40,47,17,...,21,10,16,20,32,53,19,15,24,1
286,11,15,12,3,12,15,10,21,17,15,...,24,13,11,11,9,13,16,14,11,1
287,64,47,48,42,40,34,46,59,42,42,...,25,28,44,4,17,59,57,24,37,1
288,44,44,42,54,45,34,40,42,41,48,...,22,57,59,18,42,70,82,55,55,1

283

                                             intensity  label
0    51 57 68 39 2 5 28 46 17 6 3 52 21 21 56 66 56...      0
1    80 59 64 75 58 53 28 26 19 21 45 29 33 2 3 57 ...      0
2    26 39 46 42 24 9 26 33 50 41 14 36 41 31 37 21...      0
3    89 83 20 15 80 90 107 98 64 60 85 95 34 88 47 ...      0
4    34 75 36 45 75 72 63 59 60 46 55 68 49 52 58 3...      0
..                                                 ...    ...
278  5 9 14 15 43 44 15 29 20 5 2 2 5 2 2 25 23 8 7...      1
279  33 36 7 3 7 13 18 10 5 11 3 14 21 17 8 11 10 2...      1
280  22 59 41 53 26 39 34 18 35 36 18 41 35 35 23 4...      1
281  40 25 32 50 14 23 27 18 23 20 27 14 10 13 28 1...      1
282  46 22 30 29 26 28 29 14 14 31 38 20 46 46 45 5...      1

[283 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,51,57,68,39,2,5,28,46,17,6,...,65,39,6,26,41,48,22,19,32,0
1,80,59,64,75,58,53,28,26,19,21,...,53,66,5,22,0,0,24,4,0,0
2,26,39,46,42,24,9,26,33,50,41,...,18,11,24,19,71,43,30,47,32,0
3,89,83,20,15,80,90,107,98,64,60,...,83,97,67,80,79,51,47,8,3,0
4,34,75,36,45,75,72,63,59,60,46,...,41,40,46,48,67,45,46,42,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,5,9,14,15,43,44,15,29,20,5,...,12,11,6,2,2,6,7,11,53,1
279,33,36,7,3,7,13,18,10,5,11,...,33,27,6,4,7,5,14,15,11,1
280,22,59,41,53,26,39,34,18,35,36,...,42,41,46,42,37,13,10,9,7,1
281,40,25,32,50,14,23,27,18,23,20,...,18,15,20,34,19,15,24,33,28,1
282,46,22,30,29,26,28,29,14,14,31,...,20,27,35,28,24,52,48,44,36,1

268

                                             intensity  label
0    54 86 86 81 74 75 82 81 84 92 72 81 68 77 63 5...      0
1    14 17 30 44 27 22 46 33 24 41 29 18 46 45 27 3...      0
2    7 53 53 15 28 64 72 38 68 75 4 38 14 66 54 6 3...      0
3    64 37 24 20 45 40 55 68 63 57 45 41 60 61 49 4...      0
4    86 60 21 25 89 83 78 73 64 52 75 83 64 71 62 4...      0
..                                                 ...    ...
263  37 30 51 53 48 42 34 24 22 24 39 38 31 19 26 1...      1
264  6 20 23 8 11 11 7 3 7 7 2 10 10 4 8 16 11 8 11...      1
265  50 33 11 3 2 6 22 10 8 4 14 60 55 29 16 8 9 7 ...      1
266  7 6 10 13 10 8 7 12 6 12 7 14 14 10 10 9 17 12...      1
267  3 42 39 42 22 40 33 8 44 38 13 4 45 52 22 47 4...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,54,86,86,81,74,75,82,81,84,92,...,55,64,47,75,24,66,36,46,42,0
1,14,17,30,44,27,22,46,33,24,41,...,15,14,23,18,24,37,27,46,35,0
2,7,53,53,15,28,64,72,38,68,75,...,41,71,71,61,4,73,39,66,59,0
3,64,37,24,20,45,40,55,68,63,57,...,40,47,41,65,58,42,57,67,49,0
4,86,60,21,25,89,83,78,73,64,52,...,43,43,57,67,72,60,44,40,42,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,37,30,51,53,48,42,34,24,22,24,...,59,33,44,2,6,13,17,20,10,1
264,6,20,23,8,11,11,7,3,7,7,...,12,5,2,3,3,6,6,6,5,1
265,50,33,11,3,2,6,22,10,8,4,...,4,5,8,53,31,15,17,15,14,1
266,7,6,10,13,10,8,7,12,6,12,...,10,13,12,15,23,13,10,9,15,1
267,3,42,39,42,22,40,33,8,44,38,...,45,30,44,41,21,17,16,17,23,1