In [2]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
datasets=['Explosion','Road_Accident','Fighting','Robbery','Burglary']
for data_name in datasets:
    
    Home_os='D:/new/'+data_name+'/'
    negative_os=Home_os+'negative/'
    positive_os=Home_os+'positive/'
    
    video=os.listdir(negative_os)
    #My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    Intensity_list=[]
    for i in video:
        start=0
        video_name=negative_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=27:
                cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows()
    
    video=os.listdir(positive_os)
    #My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    P_Intensity_list=[]
    for i in video:
        start=0
        video_name=positive_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=27:
                cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        P_Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 

    
    Combine_Intensity=Intensity_list+P_Intensity_list
    # min_max_scaler =MinMaxScaler()
    # for i in range(len(Combine_Intensity)):
    #     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
    new_list=[]
    for i in Combine_Intensity:
            str1 = ' '.join([str(x) for x in i])
            new_list.append(str1)

    print(len(new_list))
    
    x = [0] * len(Intensity_list)
    y =[1]*len(P_Intensity_list)
    z=x+y
    combine_dict={'intensity':new_list,'label':z}
    df=pd.DataFrame(combine_dict)

    display(df)
    y=df['label'].values

    data_df = df['intensity'].str.split(' ', expand=True)

    data_df['Class'] =y
    data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/CDI/Intensity/CSV/'+data_name+'/Laplacian.csv')
    display(data_df)

268

                                             intensity  label
0    3280575 3144915 2707590 2301885 2106045 189159...      0
1    3219120 2592585 2254200 2160870 2123895 212389...      0
2    4644825 4378605 4139925 4280175 4444650 415165...      0
3    2279445 2429640 2699175 2993955 2389605 242632...      0
4    4416855 3629925 2853705 2403885 3245640 374697...      0
..                                                 ...    ...
263  3968820 3883650 3896400 4142730 4021350 393949...      1
264  566100 1036320 539580 689010 3527415 3323160 2...      1
265  112965 65280 60435 3745950 4290120 4288590 396...      1
266  5381265 5533245 5419515 5637030 5951700 545827...      1
267  1198245 866235 1618995 2446725 3380280 3280065...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,3280575,3144915,2707590,2301885,2106045,1891590,1785510,1748280,1665150,1575900,...,2458200,2527815,2621655,3295875,2804745,1945140,1633275,1953555,2412555,0
1,3219120,2592585,2254200,2160870,2123895,2123895,1980075,1828605,2140215,2262105,...,2994465,2716005,2276385,2793780,3319845,2435760,2159850,2058615,2010930,0
2,4644825,4378605,4139925,4280175,4444650,4151655,4120545,4174860,4174095,4527270,...,4463265,4516305,4677465,4939605,4854690,4520385,4433685,4458165,4575975,0
3,2279445,2429640,2699175,2993955,2389605,2426325,2762925,2395215,2418675,2890935,...,17085,17085,17085,11985,241230,128265,22440,23460,24225,0
4,4416855,3629925,2853705,2403885,3245640,3746970,3165315,4081275,4250850,4007580,...,5141565,4381665,4389315,5556705,2964630,2942700,4444395,2815200,2188920,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,3968820,3883650,3896400,4142730,4021350,3939495,3795165,3776295,4046850,3771195,...,3016140,3081420,2912355,2953155,2838915,2936835,3190815,2842995,2925615,1
264,566100,1036320,539580,689010,3527415,3323160,2955450,2551275,1673820,1466760,...,3262470,3030930,2843250,2865690,2706060,2648685,2776695,2000220,1725840,1
265,112965,65280,60435,3745950,4290120,4288590,3966780,3954540,4085355,3959895,...,3088305,2377875,1407345,1715385,3404760,3325200,3969075,4144005,4246770,1
266,5381265,5533245,5419515,5637030,5951700,5458275,5433030,5704095,5867295,5369535,...,5062005,5334345,5460570,5279775,5405745,5725260,5727045,5697975,5619945,1
267,1198245,866235,1618995,2446725,3380280,3280065,3146700,3680415,3454995,3569235,...,2966160,2660415,2616810,3481770,2797095,2698665,2603295,2499510,3009765,1

311

                                             intensity  label
0    218535 263415 228225 167025 111690 98175 13489...      0
1    763980 1062075 1083240 798405 941970 919785 38...      0
2    309315 126480 39270 47430 543405 156825 78540 ...      0
3    883320 1743435 3169140 3262725 1939530 447780 ...      0
4    3265785 2133840 1761540 1569780 1648065 170314...      0
..                                                 ...    ...
306  4231980 3891045 3514920 2761905 2459730 269331...      1
307  733890 438600 1252305 1246950 1548105 746130 5...      1
308  1236240 339150 288405 1648065 1942590 2443155 ...      1
309  2555355 703545 622965 2666025 3401190 2379150 ...      1
310  2102475 2154240 1226550 1179375 1985940 151240...      1

[311 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,218535,263415,228225,167025,111690,98175,134895,107100,83895,344505,...,107610,48195,72165,1675095,924120,217260,154785,161670,180540,0
1,763980,1062075,1083240,798405,941970,919785,387600,445995,489855,374850,...,340425,384285,341955,493935,370260,282540,387855,286110,261120,0
2,309315,126480,39270,47430,543405,156825,78540,85170,28050,22950,...,0,14790,10455,59415,230520,107100,58140,55590,44115,0
3,883320,1743435,3169140,3262725,1939530,447780,747915,4555575,4645845,2774910,...,1897710,4655535,4759575,4690725,127755,68850,2321010,2563005,1008270,0
4,3265785,2133840,1761540,1569780,1648065,1703145,1808715,2124405,2417910,1661070,...,1173765,1264290,1141635,1403520,2453610,1571565,1350225,1393830,1047795,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,4231980,3891045,3514920,2761905,2459730,2693310,3239265,4030020,4257480,3410370,...,2282505,3484575,3130635,3516705,2449275,1844670,2349060,2618340,2744310,1
307,733890,438600,1252305,1246950,1548105,746130,552330,1891590,2877420,1572840,...,1512405,2233035,2470440,3005430,1752360,1371900,1367820,1392300,1629960,1
308,1236240,339150,288405,1648065,1942590,2443155,1347165,281520,369240,1162545,...,147135,190230,1796220,2672400,2200395,607155,138975,210630,1237515,1
309,2555355,703545,622965,2666025,3401190,2379150,2263380,418200,397800,2011440,...,658665,615825,2520420,5090565,2948820,2443920,2534190,3220395,2729520,1
310,2102475,2154240,1226550,1179375,1985940,1512405,1831410,2137410,1801830,1245675,...,1153110,1652910,2061165,2698410,1915305,1465995,1766895,1258170,1264800,1

289

                                             intensity  label
0    1010820 801720 1403010 417435 57630 41310 5584...      0
1    4039965 3506760 4048125 3828060 2251140 233886...      0
2    422790 251940 289425 234090 256020 1391535 736...      0
3    1990275 853230 462825 443445 1044480 2681325 2...      0
4    1161780 1445850 3140325 2773635 927180 646935 ...      0
..                                                 ...    ...
284  2375835 2350590 2658630 2470185 2337585 241459...      1
285  2774910 1212015 1241850 1604205 1131690 136017...      1
286  4198830 3640890 3679140 4295475 4086630 411468...      1
287  2767005 2622420 3511605 3242580 2669340 250027...      1
288  2149650 1873740 2067285 3175005 3166845 271473...      1

[289 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,1010820,801720,1403010,417435,57630,41310,55845,22440,16065,10455,...,2042295,1956360,1551930,2131035,2750685,1721505,1515465,1973955,1157700,0
1,4039965,3506760,4048125,3828060,2251140,2338860,3375435,3172710,3262725,3476925,...,2322030,2758590,3217080,3925980,3766350,2788170,2553315,2916945,2469930,0
2,422790,251940,289425,234090,256020,1391535,736440,315435,336600,408765,...,1036830,828750,995265,1599615,1263525,901935,632655,563295,897600,0
3,1990275,853230,462825,443445,1044480,2681325,2493645,1805145,1910970,1802850,...,1365525,1310955,1032495,1569015,2236095,884340,892245,1309935,1754145,0
4,1161780,1445850,3140325,2773635,927180,646935,1253070,1398165,500565,625260,...,911115,2073405,1519290,1786020,2466360,2097885,1340535,1129905,2672655,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,2375835,2350590,2658630,2470185,2337585,2414595,2529855,2554335,2696625,2724420,...,2745585,1698810,676770,852465,2789955,2643330,2592585,2495430,2318970,1
285,2774910,1212015,1241850,1604205,1131690,1360170,1490475,1639650,1597065,974610,...,1142910,1067175,1704420,4566285,3476670,1661325,1032750,960075,1229610,1
286,4198830,3640890,3679140,4295475,4086630,4114680,4153185,3013590,3033990,4339080,...,3622275,4044555,4655535,4856730,4113150,3523080,3184185,3432555,4248810,1
287,2767005,2622420,3511605,3242580,2669340,2500275,3171690,3131910,2506905,2820810,...,2787150,2600235,3016140,5328480,4652220,3553680,2558415,2135370,2765220,1
288,2149650,1873740,2067285,3175005,3166845,2714730,2936325,2926635,3145425,3179850,...,4291905,3714330,3648285,4253145,3053370,2738955,2655060,1974975,2103240,1

283

                                             intensity  label
0    1909440 2122110 2777715 3070200 4493610 402951...      0
1    1547850 1259700 2720085 2434995 1957380 105213...      0
2    3020985 2708100 1579980 1280100 2023935 198976...      0
3    3580710 1981350 388110 306255 2161380 3440460 ...      0
4    4350300 2798625 1710030 1844415 2818770 321555...      0
..                                                 ...    ...
278  4568325 4576230 4340100 4341120 3591930 354985...      1
279  2903175 3037560 4239120 4171035 3734985 362227...      1
280  4571385 3860700 3600855 3484320 3208410 345933...      1
281  2455140 1623330 1763580 2029800 1204110 125587...      1
282  3388950 2506905 2822085 3484320 2830500 268744...      1

[283 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,1909440,2122110,2777715,3070200,4493610,4029510,3210960,2523990,3064845,4020330,...,2209320,1197480,481440,1000110,2953155,1781940,1307895,958800,1344615,0
1,1547850,1259700,2720085,2434995,1957380,1052130,687225,550035,375360,437325,...,998580,1212780,146115,391170,0,0,451605,66810,7650,0
2,3020985,2708100,1579980,1280100,2023935,1989765,2421735,2659905,1773270,1977525,...,1507050,1328550,1696770,2959020,1659285,1066665,1820445,2581620,2153220,0
3,3580710,1981350,388110,306255,2161380,3440460,3672255,2623695,1743945,1483590,...,1966305,2149905,1783470,2823615,1653420,947580,1078395,301155,62475,0
4,4350300,2798625,1710030,1844415,2818770,3215550,3347130,2986305,2695605,2454120,...,1883175,1830135,2012970,3156390,2878440,1884705,1804635,1861500,1779900,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,4568325,4576230,4340100,4341120,3591930,3549855,4958985,3703620,3765330,4169760,...,4893960,4336785,4614225,5330775,5253765,4589745,4510440,4127175,3374925,1
279,2903175,3037560,4239120,4171035,3734985,3622275,3812505,4047105,4136610,4085355,...,2734875,2906235,4158285,4377075,4008345,3937200,3332085,3267570,3469275,1
280,4571385,3860700,3600855,3484320,3208410,3459330,4451790,4882485,4350810,3715095,...,2907510,3788535,3601365,3995850,4198065,2711160,2344725,2043060,1576920,1
281,2455140,1623330,1763580,2029800,1204110,1255875,1669995,1453500,1612875,1836000,...,2075445,1874250,1725585,2460240,2223600,2035410,2797605,2375325,1762815,1
282,3388950,2506905,2822085,3484320,2830500,2687445,2650725,2163420,2325090,3338970,...,1955340,2535210,3020985,3394050,3558780,2893230,2730795,2782815,3109980,1

268

                                             intensity  label
0    3366000 2755020 2829990 3029655 2665260 250155...      0
1    3734730 3889515 3425160 3070455 3432300 309570...      0
2    5408550 3895890 3554190 4857750 4553790 276879...      0
3    2826165 1355070 986595 1118940 2388075 3125280...      0
4    2869005 1819425 776985 901935 2347530 2623185 ...      0
..                                                 ...    ...
263  2229720 2427345 2006850 1815600 1723800 169396...      1
264  3256605 3019710 2943720 3274455 3074535 296106...      1
265  1650360 1118685 403155 280245 289680 511020 11...      1
266  3348660 3171180 3262470 3459075 3273690 340705...      1
267  175695 1436160 2336565 2238645 3602895 1369095...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,3366000,2755020,2829990,3029655,2665260,2501550,2368950,2014245,2236095,2193255,...,1522350,1613130,1410405,1977780,3449895,1872465,1432590,1382355,1500420,0
1,3734730,3889515,3425160,3070455,3432300,3095700,2603550,2936835,3349170,3108195,...,3253035,3924705,3319845,3701580,3317295,2895780,3369825,2334525,2401080,0
2,5408550,3895890,3554190,4857750,4553790,2768790,2930205,4293435,3209940,3612330,...,1567230,2275365,3617175,3869115,5447565,3243345,1443300,1833705,3740085,0
3,2826165,1355070,986595,1118940,2388075,3125280,2862120,2587230,2222325,1919130,...,1489200,1496595,1511385,2094570,2360280,1448400,1611345,1974210,1839825,0
4,2869005,1819425,776985,901935,2347530,2623185,2521185,2110380,1627665,1379040,...,1108485,1072530,1251285,2336310,2557650,1523625,1317585,1125060,1027395,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2229720,2427345,2006850,1815600,1723800,1693965,1636590,1522350,1464210,1551420,...,1844925,1035555,1376490,4006560,3556485,3082185,2937345,3014610,3226260,1
264,3256605,3019710,2943720,3274455,3074535,2961060,3374415,3658740,3576120,3597795,...,3095445,3309135,3686790,3915015,3705150,3415215,3320865,3424905,3350955,1
265,1650360,1118685,403155,280245,289680,511020,1113330,662235,514590,453390,...,916725,1020765,1109760,2016030,1896435,1419585,1264035,1123020,1189575,1
266,3348660,3171180,3262470,3459075,3273690,3407055,3529965,3476160,3619980,3503955,...,3030420,3298425,3357075,3614625,3331830,3076575,3415215,3306330,3084225,1
267,175695,1436160,2336565,2238645,3602895,1369095,1379805,3676590,1965285,1523115,...,1235220,3702855,834870,865470,3622275,2973045,3095190,4129980,3178830,1

In [3]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [5]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [6]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [7]:
x = [0] * 126
y =[1]*142
z=x+y

In [8]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    3280575 3144915 2707590 2301885 2106045 189159...      0
1    3219120 2592585 2254200 2160870 2123895 212389...      0
2    4644825 4378605 4139925 4280175 4444650 415165...      0
3    2279445 2429640 2699175 2993955 2389605 242632...      0
4    4416855 3629925 2853705 2403885 3245640 374697...      0
..                                                 ...    ...
263  3968820 3883650 3896400 4142730 4021350 393949...      1
264  566100 1036320 539580 689010 3527415 3323160 2...      1
265  112965 65280 60435 3745950 4290120 4288590 396...      1
266  5381265 5533245 5419515 5637030 5951700 545827...      1
267  1198245 866235 1618995 2446725 3380280 3280065...      1

[268 rows x 2 columns]

In [9]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Fire/CDI_Based/Intensity/CSV/Laplacian_No_Filter.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,3280575,3144915,2707590,2301885,2106045,1891590,1785510,1748280,1665150,1575900,...,2458200,2527815,2621655,3295875,2804745,1945140,1633275,1953555,2412555,0
1,3219120,2592585,2254200,2160870,2123895,2123895,1980075,1828605,2140215,2262105,...,2994465,2716005,2276385,2793780,3319845,2435760,2159850,2058615,2010930,0
2,4644825,4378605,4139925,4280175,4444650,4151655,4120545,4174860,4174095,4527270,...,4463265,4516305,4677465,4939605,4854690,4520385,4433685,4458165,4575975,0
3,2279445,2429640,2699175,2993955,2389605,2426325,2762925,2395215,2418675,2890935,...,17085,17085,17085,11985,241230,128265,22440,23460,24225,0
4,4416855,3629925,2853705,2403885,3245640,3746970,3165315,4081275,4250850,4007580,...,5141565,4381665,4389315,5556705,2964630,2942700,4444395,2815200,2188920,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,3968820,3883650,3896400,4142730,4021350,3939495,3795165,3776295,4046850,3771195,...,3016140,3081420,2912355,2953155,2838915,2936835,3190815,2842995,2925615,1
264,566100,1036320,539580,689010,3527415,3323160,2955450,2551275,1673820,1466760,...,3262470,3030930,2843250,2865690,2706060,2648685,2776695,2000220,1725840,1
265,112965,65280,60435,3745950,4290120,4288590,3966780,3954540,4085355,3959895,...,3088305,2377875,1407345,1715385,3404760,3325200,3969075,4144005,4246770,1
266,5381265,5533245,5419515,5637030,5951700,5458275,5433030,5704095,5867295,5369535,...,5062005,5334345,5460570,5279775,5405745,5725260,5727045,5697975,5619945,1
267,1198245,866235,1618995,2446725,3380280,3280065,3146700,3680415,3454995,3569235,...,2966160,2660415,2616810,3481770,2797095,2698665,2603295,2499510,3009765,1