In [2]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
datasets=['Explosion','Road_Accident','Fighting','Robbery','Burglary']
for data_name in datasets:
    
    Home_os='D:/new/'+data_name+'/'
    negative_os=Home_os+'negative/'
    positive_os=Home_os+'positive/'
    video=os.listdir(negative_os)
    
    
    Intensity_list=[]
    for i in video:
        start=0
        video_name=negative_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=27:
                cdi,frame=My_CDI.CDI(start,image_type='HSV',methods='SALIENCY')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    
    video=os.listdir(positive_os)
    #My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    P_Intensity_list=[]
    for i in video:
        start=0
        video_name=positive_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=27:
                cdi,frame=My_CDI.CDI(start,image_type='HSV',methods='SALIENCY')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        P_Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    
    
    Combine_Intensity=Intensity_list+P_Intensity_list
#     min_max_scaler =MinMaxScaler()
#     for i in range(len(Combine_Intensity)):
#         Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
    new_list=[]
    for i in Combine_Intensity:
            str1 = ' '.join([str(x) for x in i])
            new_list.append(str1)

    print(len(new_list))
    x = [0] * len(Intensity_list)
    y =[1]*len(P_Intensity_list)
    z=x+y
    combine_dict={'intensity':new_list,'label':z}
    df=pd.DataFrame(combine_dict)

    display(df)
    y=df['label'].values

    data_df = df['intensity'].str.split(' ', expand=True)

    data_df['Class'] =y
    data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/CDI/Intensity/CSV/'+data_name+'/SA_HSV.csv')
    display(data_df)

268

                                             intensity  label
0    9011445 9751965 9677760 8087070 7642095 766836...      0
1    9396240 10810980 9146850 8014905 8021280 91338...      0
2    11680020 11526255 11277630 11615250 12646470 1...      0
3    6088380 6439515 6611385 6438495 5749485 620313...      0
4    10241820 9721365 8391030 8963505 9532920 89864...      0
..                                                 ...    ...
263  6422175 7189470 6657030 7407750 8482830 824695...      1
264  1986960 4198830 2002260 2777970 7226445 649918...      1
265  847365 397800 613275 8343600 8071005 8112570 8...      1
266  11330415 11408445 11229690 11371980 12090060 1...      1
267  6181965 6807990 6322980 6902595 8473905 875134...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,9011445,9751965,9677760,8087070,7642095,7668360,7527600,7697430,7360065,7038765,...,8318100,8153115,9518895,10877280,9342690,8271435,7898880,8267100,7755570,0
1,9396240,10810980,9146850,8014905,8021280,9133845,7259850,5539620,6191400,7423305,...,8448660,8411430,8145210,8782455,9086160,8181675,8218395,7568910,7227720,0
2,11680020,11526255,11277630,11615250,12646470,11322000,11162115,12414420,12416205,11829195,...,11396970,11228670,11299305,10618710,10056945,9834330,9813420,10595760,11866170,0
3,6088380,6439515,6611385,6438495,5749485,6203130,6392595,6175590,6089910,6657285,...,300645,300645,300645,248880,3332595,952425,600525,735930,829260,0
4,10241820,9721365,8391030,8963505,9532920,8986455,8281380,8027145,7913925,7831050,...,9540315,10177560,8933925,9543120,7832070,7884090,9890430,8454270,8241855,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,6422175,7189470,6657030,7407750,8482830,8246955,8362470,7911630,9121605,11572665,...,10029150,8672550,8508585,9821835,8516235,8370885,9053775,8399445,7464615,1
264,1986960,4198830,2002260,2777970,7226445,6499185,6452520,6369900,5223930,4981680,...,8058510,7666065,7855020,9017820,7835640,7509495,7427640,5977455,4857495,1
265,847365,397800,613275,8343600,8071005,8112570,8345130,8097015,8602425,8902050,...,7912650,7716810,6200835,7101495,9118290,8972430,9495690,9846315,9362070,1
266,11330415,11408445,11229690,11371980,12090060,10984125,10455510,11059860,11446950,10747485,...,10875750,10291545,10852545,10992540,11157780,11581590,11748105,11813895,11461485,1
267,6181965,6807990,6322980,6902595,8473905,8751345,8733240,9053520,9501555,9448770,...,7366440,7899900,7606395,8358900,8066670,8326770,7270815,7352925,8706975,1

311

                                             intensity  label
0    7172895 4398240 3813270 4977600 5288955 597337...      0
1    5474850 5295075 6485670 6064410 5685225 480496...      0
2    1373940 711960 435540 660705 2318460 1710540 7...      0
3    5141055 6844200 7966200 7128780 5269320 231259...      0
4    9824385 9317190 9147870 9104520 9117525 101632...      0
..                                                 ...    ...
306  8027145 7590075 9301125 9080295 9143025 104353...      1
307  6927585 6520095 5212455 4301595 5233620 142851...      1
308  10052100 4179705 4415070 9828210 9941430 10098...      1
309  8122515 1999200 1834470 6576450 7347825 785731...      1
310  4858005 3823470 2388840 2595135 4061895 290521...      1

[311 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,7172895,4398240,3813270,4977600,5288955,5973375,7642605,5509020,5195880,7898115,...,4788135,6124590,8756445,9486765,5538090,4135845,6536925,10652880,2714730,0
1,5474850,5295075,6485670,6064410,5685225,4804965,4166445,4609890,4708830,3931590,...,3801540,5061750,3951480,4539255,5789775,3994320,4035120,3791085,4251615,0
2,1373940,711960,435540,660705,2318460,1710540,799425,935085,495210,502860,...,120615,118830,113475,602820,1260465,374340,351645,1050600,589050,0
3,5141055,6844200,7966200,7128780,5269320,2312595,2643075,6568035,6886785,6264585,...,8543520,7587015,7823400,9266955,4131255,3612075,6544575,8426475,6441555,0
4,9824385,9317190,9147870,9104520,9117525,10163280,11651460,10160220,8984925,8413215,...,7672440,7651020,8008275,8645010,10246410,11006820,8703915,7252200,6693495,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,8027145,7590075,9301125,9080295,9143025,10435365,11125650,11328630,9735390,10348920,...,9460500,7498785,4990605,5874690,9513540,12390450,10882380,6416565,5070675,1
307,6927585,6520095,5212455,4301595,5233620,1428510,1272195,4471680,6817170,5670690,...,3940770,4801395,5136210,6003465,4367130,3979275,4120035,4075155,4156755,1
308,10052100,4179705,4415070,9828210,9941430,10098255,8967840,6268920,7178760,10723005,...,4250595,5323635,9487275,9920520,10384620,8282400,4607595,5373615,8964780,1
309,8122515,1999200,1834470,6576450,7347825,7857315,6423450,1854105,1818405,5456490,...,2341665,2300100,6671310,7142040,6839865,5890755,5551350,5451135,4853160,1
310,4858005,3823470,2388840,2595135,4061895,2905215,3086520,2207280,1967835,2070345,...,3608505,4131510,3580965,4074135,4637430,3588105,3970860,5633970,4612950,1

289

                                             intensity  label
0    2953920 2370225 3789300 3572040 4277880 172686...      0
1    5987655 7016835 6933960 5636265 4438275 504109...      0
2    3317550 2909040 2294235 1506795 1803870 535857...      0
3    5556195 3812250 4069545 4987545 5935890 639540...      0
4    6471900 6801360 7677030 7120365 5461335 548632...      0
..                                                 ...    ...
284  8099565 7392195 7822890 8352015 8788830 787542...      1
285  7883580 7918770 8064120 7775715 7993230 897727...      1
286  8527200 7537800 8958915 8205900 6859755 724761...      1
287  9809850 10146960 9844020 10059495 10080405 985...      1
288  3794910 3515685 3964485 4230705 4497180 640993...      1

[289 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,2953920,2370225,3789300,3572040,4277880,1726860,1564935,345270,155040,323850,...,3478455,3318060,4968675,5161710,4747590,3159960,2845800,4039710,3057960,0
1,5987655,7016835,6933960,5636265,4438275,5041095,7040550,5977965,6239085,6960735,...,4239630,5360100,5481480,6211800,9798630,11347755,7282035,7181820,6178905,0
2,3317550,2909040,2294235,1506795,1803870,5358570,5196135,1751085,1764345,4242435,...,4767735,4751925,5261670,6032025,4482135,4367640,3845910,3596265,4077960,0
3,5556195,3812250,4069545,4987545,5935890,6395400,7405200,6555540,6002955,5445780,...,5461335,4902885,4668030,6163350,5675280,4540785,4743000,4561440,5089800,0
4,6471900,6801360,7677030,7120365,5461335,5486325,7217775,6558345,5348115,6115155,...,6799320,7577070,7983285,8098800,7937385,7412850,7237155,7568145,8610075,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,8099565,7392195,7822890,8352015,8788830,7875420,7867770,8123535,8488440,8211255,...,9039750,7294530,5693640,6471390,8924745,8643225,8161275,8056470,9376860,1
285,7883580,7918770,8064120,7775715,7993230,8977275,8739105,8582790,7769595,7214715,...,9217230,8704170,9147360,9552810,9322290,9460755,9480390,8851815,7713495,1
286,8527200,7537800,8958915,8205900,6859755,7247610,8149290,6800340,6445125,7967475,...,5577105,9183825,6449460,6913815,9226410,8879355,8226045,6764895,7023975,1
287,9809850,10146960,9844020,10059495,10080405,9852180,9809340,10213770,10146960,9944235,...,9823365,9748140,10149255,10704900,10778085,10530735,9836370,9366660,9722895,1
288,3794910,3515685,3964485,4230705,4497180,6409935,4712145,4753965,4277370,4061895,...,7185390,3888240,3523845,4384470,9117270,5041095,4172820,3389715,3232380,1

283

                                             intensity  label
0    9591315 9468405 9496455 9719325 10289505 97851...      0
1    11414565 10469280 9738195 10133700 8479515 695...      0
2    9216720 8607270 8628690 9047655 9365130 930316...      0
3    8740380 7823655 6342105 6622095 8516235 875721...      0
4    11316900 7970280 8671275 11441340 11587200 116...      0
..                                                 ...    ...
278  9777975 7285350 4449495 4681545 3929295 424498...      1
279  5653860 5741580 6425235 7131075 6729960 635842...      1
280  9249615 9990900 10421595 9552810 9836880 99513...      1
281  6128925 5484540 5751270 5711490 6321450 661062...      1
282  7751490 6993885 7649490 6936000 6376530 623016...      1

[283 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,9591315,9468405,9496455,9719325,10289505,9785115,9810105,8451465,8174025,9129510,...,8635575,8012610,7849155,9631860,9305460,8627415,8933670,7425600,7708650,0
1,11414565,10469280,9738195,10133700,8479515,6957420,7468440,7831815,6587670,7753785,...,8206665,8449425,5920590,7209105,0,0,6465270,2311830,2567340,0
2,9216720,8607270,8628690,9047655,9365130,9303165,9660420,10188525,8435400,7859610,...,8354565,7565850,7212930,8607525,6723585,5948130,7739250,9725445,11317665,0
3,8740380,7823655,6342105,6622095,8516235,8757210,9250635,10452960,9223350,8253585,...,8376750,7885620,7897095,9380685,6908715,5519985,5120655,3436635,1322430,0
4,11316900,7970280,8671275,11441340,11587200,11674155,11678745,8829885,5758410,6264840,...,9279450,5274420,6710070,11787885,8440500,5936910,6386475,8142915,7482720,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,9777975,7285350,4449495,4681545,3929295,4244985,6033555,4349535,4699140,5605155,...,5750505,4748100,5170635,6738885,6903870,6487710,5830575,6408660,4463520,1
279,5653860,5741580,6425235,7131075,6729960,6358425,5993775,6916620,9258540,9412815,...,6577470,6513210,6911010,7117815,6890100,6490005,5722965,5778300,7258575,1
280,9249615,9990900,10421595,9552810,9836880,9951375,9981210,9731565,9876150,9859065,...,9343200,9853455,9670875,9856005,9201930,8212020,8291580,7481445,7356240,1
281,6128925,5484540,5751270,5711490,6321450,6610620,6503775,6349500,6868170,8508840,...,7079310,6473940,7068090,10396605,8266845,6542535,6941865,6239340,5695425,1
282,7751490,6993885,7649490,6936000,6376530,6230160,6645045,7880010,9463050,7572990,...,7182840,7607670,6873780,8165100,7472010,5921100,6109035,6504285,6419880,1

268

                                             intensity  label
0    5985360 6147540 6072825 6116940 5739540 514641...      0
1    9502065 9907005 9899355 10427205 9548985 90180...      0
2    12022485 12069915 11689965 11682060 11146305 1...      0
3    8381850 6691710 5506470 5312925 6209505 727719...      0
4    6335985 5427165 3519765 3924705 7300650 857233...      0
..                                                 ...    ...
263  7683405 7529640 6959205 6211035 6028710 642906...      1
264  9476565 10121970 9431430 9274605 9249360 89770...      1
265  9331725 8929590 8233440 8469825 8687850 819544...      1
266  9177705 9130530 9734370 9114720 9308010 990114...      1
267  951915 3248700 2650470 2541075 6476745 4425270...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,5985360,6147540,6072825,6116940,5739540,5146410,6372705,4796550,4261050,3899715,...,4305420,5044665,5000550,5766060,5390190,4034100,4083315,3857130,3757170,0
1,9502065,9907005,9899355,10427205,9548985,9018075,8813565,9063465,8321670,8422905,...,9405675,10143645,9770580,10643190,9235845,8234715,9018075,8281635,7592880,0
2,12022485,12069915,11689965,11682060,11146305,10499625,10733460,11120295,11702715,11285790,...,9696120,10238505,10767885,11154210,11434200,10579950,11209290,11793750,10499880,0
3,8381850,6691710,5506470,5312925,6209505,7277190,6852870,6622605,6469350,6783000,...,3182910,4202400,4521915,5772945,9115995,5456235,4672110,5906820,6405090,0
4,6335985,5427165,3519765,3924705,7300650,8572335,7174425,6873525,6523410,4068015,...,4206225,3676080,4001205,6288555,7785150,6804675,6994905,4638450,4911045,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,7683405,7529640,6959205,6211035,6028710,6429060,6760305,6953850,6741180,7403670,...,8157705,4810575,5288700,8768685,8731200,9184590,10040625,8950500,8145210,1
264,9476565,10121970,9431430,9274605,9249360,8977020,9119310,9185355,9065505,8956620,...,8532300,9477585,10043430,9890685,9434745,9109620,9559695,9771600,9391650,1
265,9331725,8929590,8233440,8469825,8687850,8195445,7850175,9891195,9523485,8681985,...,8369865,7744605,7854765,9042555,9350850,8029950,7724970,8120475,8128635,1
266,9177705,9130530,9734370,9114720,9308010,9901140,8963505,9271035,9915165,9458460,...,7808865,8525670,9128490,9774660,9780780,8925510,9277155,9234060,8049840,1
267,951915,3248700,2650470,2541075,6476745,4425270,3839025,7780815,5638560,5645190,...,4843215,11817720,6527745,6256425,9998295,8542500,8714625,9318975,9739980,1