In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
datasets=['Explosion','Road_Accident','Fighting','Robbery','Burglary']
for data_name in datasets:
    
    Home_os='D:/new/'+data_name+'/'
    negative_os=Home_os+'negative/'
    positive_os=Home_os+'positive/'
    video=os.listdir(negative_os)
    
    
    Intensity_list=[]
    for i in video:
        start=0
        video_name=negative_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=27:
                cdi,frame=My_CDI.CDI(start,image_type='BGR',methods='SALIENCY')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    
    video=os.listdir(positive_os)
    #My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    P_Intensity_list=[]
    for i in video:
        start=0
        video_name=positive_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=27:
                cdi,frame=My_CDI.CDI(start,image_type='BGR',methods='SALIENCY')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        P_Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    
    
    Combine_Intensity=Intensity_list+P_Intensity_list
#     min_max_scaler =MinMaxScaler()
#     for i in range(len(Combine_Intensity)):
#         Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
    new_list=[]
    for i in Combine_Intensity:
            str1 = ' '.join([str(x) for x in i])
            new_list.append(str1)

    print(len(new_list))
    x = [0] * len(Intensity_list)
    y =[1]*len(P_Intensity_list)
    z=x+y
    combine_dict={'intensity':new_list,'label':z}
    df=pd.DataFrame(combine_dict)

    display(df)
    y=df['label'].values

    data_df = df['intensity'].str.split(' ', expand=True)

    data_df['Class'] =y
    data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/CDI/Intensity/CSV/'+data_name+'/SA_RGB.csv')
    display(data_df)

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\CDI\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\CDI\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb
268

                                             intensity  label
0    2519910 2852940 2779755 1862520 1448655 158814...      0
1    4287825 4423995 4167465 3146700 2560455 317832...      0
2    8634555 7524540 7668360 8832180 8235990 769998...      0
3    5272635 5586285 6655755 7291470 7289175 692656...      0
4    6743475 6669525 7211655 6412995 7127250 778770...      0
..                                                 ...    ...
263  5715570 5612040 5184915 5880555 6012135 598485...      1
264  2879460 3580455 2001240 2697900 8314530 468460...      1
265  534990 463845 701505 8190855 7814220 7587015 7...      1
266  8299230 8260980 7527600 7943760 11554305 74926...      1
267  4275585 5024775 6804420 7431720 8331615 927486...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,2519910,2852940,2779755,1862520,1448655,1588140,1090125,1287750,2362575,1539180,...,3771195,6599655,7323345,6240105,4341885,4723875,5790030,6956655,5607705,0
1,4287825,4423995,4167465,3146700,2560455,3178320,2847075,2337075,3093915,3132420,...,5167575,5786970,5962920,6694515,7405710,7672440,7995525,8252820,8356350,0
2,8634555,7524540,7668360,8832180,8235990,7699980,8288775,8565705,8436675,8686830,...,8008530,7887915,9045360,10722240,10636305,10306590,9768030,8487420,10069185,0
3,5272635,5586285,6655755,7291470,7289175,6926565,6727155,6933705,7684680,6747300,...,536010,536010,536010,392190,877965,594915,176715,226185,336855,0
4,6743475,6669525,7211655,6412995,7127250,7787700,7594410,7607925,7413870,7412595,...,8184225,7878990,7538310,7092570,6545595,6685080,7287135,7399335,7439370,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,5715570,5612040,5184915,5880555,6012135,5984850,4816440,5021205,6875310,6395655,...,4667775,4978620,4862340,4518345,4284765,4336275,4679505,4106775,4082550,1
264,2879460,3580455,2001240,2697900,8314530,4684605,4261050,3468765,1921425,1213035,...,5011770,4344690,4508655,4773855,4786095,5038545,4288080,3837750,3683985,1
265,534990,463845,701505,8190855,7814220,7587015,7100475,6788355,6373470,6106995,...,5551605,4964085,4968165,5292270,5991225,5766825,5760705,6346695,6893925,1
266,8299230,8260980,7527600,7943760,11554305,7492665,6105720,6985980,8233185,6249285,...,9348300,7849665,6737610,5389680,5103570,5783655,7164735,7614555,8071005,1
267,4275585,5024775,6804420,7431720,8331615,9274860,10408845,8980845,8263020,8324220,...,6553755,6317115,6672075,7152240,7345530,6827625,7617615,9571935,9838920,1

311

                                             intensity  label
0    480675 693345 793050 1217370 693345 448290 691...      0
1    3808170 4279410 5384325 4962045 4500750 442909...      0
2    919530 711195 560745 584715 1500165 907800 337...      0
3    1445085 2529345 8844675 7487055 2107065 725730...      0
4    7733130 7710945 7931265 7799940 7757865 782620...      0
..                                                 ...    ...
306  7745625 7400100 6612660 6880920 6857715 713107...      1
307  1971660 2448255 6353325 6061860 7245570 200226...      1
308  4477800 1141380 1603950 6230670 6330885 938527...      1
309  10743915 3865800 3953010 10854075 10070460 970...      1
310  5575830 6070785 2321010 2298060 5834655 592365...      1

[311 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,480675,693345,793050,1217370,693345,448290,691560,260610,338385,1043715,...,391935,270300,743070,2082585,1064625,486030,370005,745110,659685,0
1,3808170,4279410,5384325,4962045,4500750,4429095,3713565,3315765,3420570,3775785,...,3763545,3951990,3937965,4209795,3972390,3850755,4080765,4324800,4364835,0
2,919530,711195,560745,584715,1500165,907800,337620,467925,189975,179520,...,71910,55080,220575,263160,640815,266475,245310,252195,223125,0
3,1445085,2529345,8844675,7487055,2107065,725730,1259445,7106085,7076505,2703510,...,2094570,6426510,5675535,3320865,313395,453645,6161310,6173040,2018580,0
4,7733130,7710945,7931265,7799940,7757865,7826205,7654845,7985325,8445855,7022190,...,7778520,7895310,7451865,7035705,6978840,6612405,7196100,7060950,6701400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,7745625,7400100,6612660,6880920,6857715,7131075,8601660,6277335,4782780,4896765,...,3537105,5047980,5566140,6310230,4946745,5180070,8576160,6256170,4982955,1
307,1971660,2448255,6353325,6061860,7245570,2002260,1880880,6896730,8104665,4430370,...,6614445,6634080,6332925,5969550,5924160,6593025,6673095,6546870,7261635,1
308,4477800,1141380,1603950,6230670,6330885,9385275,4558380,1280355,1915560,3498090,...,5703840,5211945,6172530,6095775,8615940,3380535,1000875,1493535,4786350,1
309,10743915,3865800,3953010,10854075,10070460,9709635,9948060,3004410,2864670,9463560,...,6130200,5925690,8755170,9721365,9364110,9083100,10390740,9919500,9620895,1
310,5575830,6070785,2321010,2298060,5834655,5923650,6018765,4419915,4051950,5654115,...,4932465,4728465,4719540,4584135,4249065,4565775,4986270,4351575,4045830,1

289

                                             intensity  label
0    3418020 2910315 3451935 2304435 2405670 107176...      0
1    7308555 7459515 7682640 7594920 7839210 843361...      0
2    1898985 2086920 2474775 2390625 2391135 192550...      0
3    7507710 10499370 10729635 9680820 9957495 1127...      0
4    3199230 4262070 4590765 5440680 6062370 523591...      0
..                                                 ...    ...
284  5200470 5241270 5449095 5616120 5727810 580278...      1
285  7519950 7756590 8019495 7385055 8011335 955357...      1
286  7766535 7797135 7929480 8530770 8667960 810951...      1
287  5365455 5618925 5736735 6021315 6905400 691611...      1
288  6019530 6693750 7061460 7439370 7652805 813297...      1

[289 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,3418020,2910315,3451935,2304435,2405670,1071765,1154130,350115,1021020,878220,...,5539110,4458420,3960660,5022990,5387640,4197045,4222545,5093115,2954685,0
1,7308555,7459515,7682640,7594920,7839210,8433615,8439735,8339010,8525925,8605740,...,9523230,9010425,8574120,8574885,4926600,4472445,7453140,7313145,7435290,0
2,1898985,2086920,2474775,2390625,2391135,1925505,1540710,972825,1429020,2473500,...,3683730,3137775,3069180,3177045,3129870,2866710,2510730,2346000,2876145,0
3,7507710,10499370,10729635,9680820,9957495,11275845,7147140,7055340,9489825,9297300,...,10721985,11432670,8281125,8043465,11172570,7660710,7593135,10087545,7043100,0
4,3199230,4262070,4590765,5440680,6062370,5235915,5579400,3947655,3085500,4255950,...,7276680,8098545,8218905,7709160,8060040,8015160,7803000,8062590,8710035,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,5200470,5241270,5449095,5616120,5727810,5802780,6223275,6043500,6251580,6066195,...,6290340,2244510,959565,1259190,4108560,6181965,6128925,6388005,6164625,1
285,7519950,7756590,8019495,7385055,8011335,9553575,8658780,8615940,9115740,7996800,...,8944635,8675610,9286335,9499770,8732220,8336970,8774805,8388225,7350120,1
286,7766535,7797135,7929480,8530770,8667960,8109510,7834620,7621950,7980990,8044485,...,8591460,8646795,9316935,9764460,9838155,9414600,8765625,8336715,8580240,1
287,5365455,5618925,5736735,6021315,6905400,6916110,6656775,6373470,6666975,7479915,...,7342470,7002555,7100475,7513065,7603080,7948350,8084265,7137195,6899790,1
288,6019530,6693750,7061460,7439370,7652805,8132970,8476455,8367315,8178360,8570550,...,8444580,8838810,7283310,7562790,7544430,7464870,8738595,8389245,9053010,1

283

                                             intensity  label
0    7962120 8051115 7940190 8492265 9557655 783742...      0
1    6518565 6561660 6405855 5301195 4169760 323238...      0
2    8535105 8940300 3993300 4033335 10280835 99348...      0
3    5678595 6086595 3212745 3369060 6022080 531726...      0
4    8436165 7187175 6344655 6312780 6858480 774588...      0
..                                                 ...    ...
278  7241745 6739905 6468075 6774075 6516015 671670...      1
279  5412630 5826240 6651165 6387495 6378825 673990...      1
280  10513905 10722495 11012430 11313840 10706175 1...      1
281  7137195 7039530 7179270 7823145 8446365 846804...      1
282  9797355 9762165 9525780 8701875 8793930 950869...      1

[283 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,7962120,8051115,7940190,8492265,9557655,7837425,6679725,5711235,6248010,6734805,...,4600710,5466690,5975670,7106340,8180910,7760670,7780050,8141130,8208195,0
1,6518565,6561660,6405855,5301195,4169760,3232380,3777570,3283380,2181780,4664970,...,4549455,3435105,1097010,2287095,0,0,2232015,383265,554880,0
2,8535105,8940300,3993300,4033335,10280835,9934800,9466875,9170055,3627120,3539655,...,7926165,6966345,8268375,9291435,3133950,3304800,8822235,7350885,7990170,0
3,5678595,6086595,3212745,3369060,6022080,5317260,5224440,5183895,3842340,3522825,...,6889845,4495395,3615135,6618270,5260395,5237190,3732180,1112820,488070,0
4,8436165,7187175,6344655,6312780,6858480,7745880,7770105,6988530,6687120,6614700,...,5708175,5347605,6104190,8714625,9014250,8908935,8667195,6927585,6008565,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,7241745,6739905,6468075,6774075,6516015,6716700,9685410,6957675,6869445,7182075,...,10187505,7493940,7735680,11406405,11846025,8522865,8182695,7427385,5105100,1
279,5412630,5826240,6651165,6387495,6378825,6739905,7646430,7502610,6973230,6676155,...,5083170,5163750,6256680,5965215,5450370,5787225,5043390,4882230,5630910,1
280,10513905,10722495,11012430,11313840,10706175,10256610,10612080,10548840,10429755,10695210,...,10755900,11784570,12188490,11597910,10601370,10111260,10222185,10151550,9905475,1
281,7137195,7039530,7179270,7823145,8446365,8468040,8400975,8803620,8418060,8224770,...,8220180,7476090,7222365,7618635,7850940,7859355,8261235,8156430,7920555,1
282,9797355,9762165,9525780,8701875,8793930,9508695,10285935,9360285,8251035,8886240,...,9321780,8651130,8782455,9125940,8681220,9004560,9069330,9031080,9078000,1

268

                                             intensity  label
0    5654880 4666500 4289355 5019165 4559655 423478...      0
1    6015705 5835165 6562680 7088745 7295295 577651...      0
2    8832435 8749305 8726100 8552190 7889445 784252...      0
3    5309100 4726680 7042080 7862160 7160400 825690...      0
4    3156135 2864415 1925760 2241195 3420315 486336...      0
..                                                 ...    ...
263  4551240 4655280 4215150 4195515 4025940 398233...      1
264  6430080 6224295 6410190 7508475 6593535 648592...      1
265  3961935 2902155 2494155 3308370 3376710 432811...      1
266  8012865 9007620 8468805 7884090 8487930 868045...      1
267  607410 3484320 5668140 5113515 7621695 3040620...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,5654880,4666500,4289355,5019165,4559655,4234785,4050930,3614370,5576340,4995960,...,5964960,6201345,7608945,6500460,5441445,4362795,4554300,8082990,10658490,0
1,6015705,5835165,6562680,7088745,7295295,5776515,4694550,5368260,5539110,5055375,...,6348480,4902375,5174205,6125865,5833380,5664825,5912940,4909515,4698375,0
2,8832435,8749305,8726100,8552190,7889445,7842525,8704170,9016800,7930755,7185390,...,7337880,8140620,6440535,6694770,6653205,4811850,3550110,4114680,4367895,0
3,5309100,4726680,7042080,7862160,7160400,8256900,6005505,5151000,5484795,4561950,...,5219595,5285130,4182255,4958985,6194205,4413540,4478565,6861030,6818445,0
4,3156135,2864415,1925760,2241195,3420315,4863360,4631055,3108705,2352375,3201015,...,2149650,2598195,2945760,3965760,4550730,2562240,2070855,2444175,2457435,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,4551240,4655280,4215150,4195515,4025940,3982335,4923795,6814620,8286735,6899280,...,2425815,2309280,3995595,8579985,8044230,8234460,8006235,7836660,7881030,1
264,6430080,6224295,6410190,7508475,6593535,6485925,6524175,7083900,6539220,6226845,...,6053955,6492555,6583590,6504030,7676265,7126740,6457365,6304875,6210270,1
265,3961935,2902155,2494155,3308370,3376710,4328115,4434960,4791195,3953265,4298535,...,4647120,5337405,4866675,5020695,4770030,4625445,5413395,5220360,4861065,1
266,8012865,9007620,8468805,7884090,8487930,8680455,7755570,7469715,8348955,9169290,...,8899245,9432195,7825185,7688505,7821870,7587270,8038365,8645775,8202840,1
267,607410,3484320,5668140,5113515,7621695,3040620,3170415,8163570,4756260,4796550,...,2804235,8952795,3590145,3572295,9418680,9045615,6331905,6432630,9195810,1