In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Theft/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Theft\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Theft\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start)
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
print(len(Intensity_list))

intensity_dict={'intensity':Intensity_list}
df=pd.DataFrame(intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

145

                                             intensity
0    [3702090, 2739720, 2854980, 3068160, 2649960, ...
1    [4819245, 4985505, 4026705, 3560055, 4313835, ...
2    [7851195, 4989840, 4395945, 6646065, 6017745, ...
3    [3223965, 1369350, 1163310, 1288260, 2551530, ...
4    [2728755, 1524135, 600525, 733125, 2108085, 24...
..                                                 ...
140  [6295440, 5349135, 1193655, 457980, 756585, 71...
141  [526575, 808350, 2489055, 1965795, 1585080, 13...
142  [4421190, 4417110, 5437110, 3430515, 2777460, ...
143  [3392010, 1931115, 1528215, 1624605, 3050565, ...
144  [994755, 554370, 467925, 1103130, 2134605, 189...

[145 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [4]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start)
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [5]:
print(len(P_Intensity_list))
P_intensity_dict={'intensity':P_Intensity_list}
df=pd.DataFrame(P_intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

123

                                             intensity
0    [4731270, 5693385, 5437875, 5113770, 5060985, ...
1    [4979130, 2836365, 2480130, 4182510, 4935525, ...
2    [3523845, 1442535, 1055445, 1022295, 1140105, ...
3    [1876290, 1782705, 2216970, 2704020, 2292705, ...
4    [112200, 345270, 72420, 37485, 19890, 151470, ...
..                                                 ...
118  [2470440, 2714220, 1703655, 1507050, 1417035, ...
119  [4449750, 4008345, 3982080, 4645335, 4122075, ...
120  [1415250, 1036065, 447015, 378930, 413355, 716...
121  [5074500, 4818225, 4915890, 5091585, 4763655, ...
122  [143055, 1731450, 2997525, 2844780, 5300430, 1...

[123 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [13]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [10]:
x = [0] * 145
y =[1]*123
z=x+y

In [14]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    3702090 2739720 2854980 3068160 2649960 248599...      0
1    4819245 4985505 4026705 3560055 4313835 367480...      0
2    7851195 4989840 4395945 6646065 6017745 316633...      0
3    3223965 1369350 1163310 1288260 2551530 342261...      0
4    2728755 1524135 600525 733125 2108085 2439075 ...      0
..                                                 ...    ...
263  2470440 2714220 1703655 1507050 1417035 139230...      1
264  4449750 4008345 3982080 4645335 4122075 396499...      1
265  1415250 1036065 447015 378930 413355 716805 11...      1
266  5074500 4818225 4915890 5091585 4763655 510484...      1
267  143055 1731450 2997525 2844780 5300430 1604205...      1

[268 rows x 2 columns]

In [15]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Theft/CDI_Based/Intensity/CSV/Gray.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,3702090,2739720,2854980,3068160,2649960,2485995,2292195,1809990,2019345,2029035,...,1352010,1405815,1255110,2045100,4018545,1769190,1391280,1431315,1565955,0
1,4819245,4985505,4026705,3560055,4313835,3674805,2872575,3439695,4167975,3625335,...,4057050,5041860,4095045,4891665,4077705,3265020,3961935,2515830,2644605,0
2,7851195,4989840,4395945,6646065,6017745,3166335,3502425,5639325,3554955,4317915,...,1700085,2575245,4141200,4669560,7806315,3707955,1455795,1919895,4278390,0
3,3223965,1369350,1163310,1288260,2551530,3422610,3066885,2726715,2315145,1997670,...,1544535,1584060,1582275,2380680,2619615,1415505,1608285,2062695,1886490,0
4,2728755,1524135,600525,733125,2108085,2439075,2296785,1847730,1401480,1156170,...,867000,817785,984555,2402355,2595390,1166880,961095,853740,777495,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2470440,2714220,1703655,1507050,1417035,1392300,1301010,1246695,1217115,1333650,...,1611855,820845,1446615,6231180,5240250,4307715,4056285,4190670,4599435,1
264,4449750,4008345,3982080,4645335,4122075,3964995,4928130,5541150,5327205,5464395,...,4356165,4991880,5801505,6166665,5590875,5028345,4839390,4980915,4651455,1
265,1415250,1036065,447015,378930,413355,716805,1134240,761940,658155,653055,...,1352010,1495830,1502970,2507925,2398530,1936470,1839570,1607520,1575900,1
266,5074500,4818225,4915890,5091585,4763655,5104845,5087760,4960515,5434815,5288445,...,4260030,4763400,5143860,5478165,5006415,4462755,5208885,4709340,4302870,1
267,143055,1731450,2997525,2844780,5300430,1604205,1633275,5711235,2271285,1770465,...,1372920,5380755,939420,1008270,5508000,4392885,4609125,6047070,4682310,1